@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --preto-base: #0a0a0a;
    --branco-base: #f8f8f0;
    --cinza-base: #b0b0b0;
    --dourado-base: #cca33c;
    --barroco-marrom: #3a2f2f;
    --barroco-dourado: #ce8e1f;
    --classico-azul: #85C1E9;
    --classico-pessego: #F5CBA7;
    --romantico-azul: #1d3c6e;
    --romantico-vermelho: #ac1c2f;
}

body{
    font-family: 'Poppins', sans-serif;
}