@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: var(--preto-base);
}

body::before{
    content: "";
    background-image: url(/assets/images/background-homePage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.tituloIndex{
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    position: relative;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    color:var(--branco-base);
    text-shadow:
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base);

}

.subtituloIndex{
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 10px;
    color:var(--branco-base);
    text-shadow:
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base);
}

.cc-menu{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.cc-menu__item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.cc-menu__icon{
    width: 1.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.cc-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cc-card{
    
    width: calc(100% / 3 - 8%);
    height: 70vh;
    position: relative;
    transition: filter .5s ease-in-out;
    border: 1.75mm ridge var(--dourado-base);
}

.cc-card__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.cc-card__image{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: 1s ease-in-out;
}

.cc-card__title{
    font-size: 2rem;
    font-family: 'Libre Baskerville', sans-serif;
    color: var(--branco-base);
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    transition: bottom 1s ease-in-out;
    text-shadow:
    -2px -2px 0 var(--preto-base),
    2px -2px 0 var(--preto-base),
    -2px 2px 0 var(--preto-base),
    2px 2px 0 var(--preto-base);
}


.cc-card--hovered .cc-card__background{
    cursor: pointer;
    opacity: 0;
}

/* -- Animação Hover -- */

.cc-card--hovered .cc-card__image{
    transform: scale(1.1);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}

body#compositor-bach-hovered::before{
    background-image: url(/assets/images/Bach\ -\ Copia.jpg);
    filter: blur(3px);
}

body#compositor-mozart-hovered::before{
    background-image: url(/assets/images/Mozart\ -\ Copia.jpg);
    filter: blur(3px);
}

body#compositor-beethoven-hovered::before{
    background-image: url(/assets/images/Beethoven\ -\ Copia.jpg);
    filter: blur(3px);
}

body[id^="compositor-"]::before{
    opacity: 1;
}

body[id^="compositor-"] .cc-card:not(.cc-card--hovered){
    filter: grayscale(100%);
}

.cc-card--hovered .cc-card__title{
    bottom: 50%;

}