.gallery{
    padding: 20px;
    padding-left: 0;
}

.gallery ul{
    display: flex;
    flex-direction: row;
}

.gallery ul li{
    margin-left: 25px;
}

.gallery ul li:first-child{
    margin-left: 0;
}

.gallery ul li a img{
    border: 1.75mm ridge var(--dourado-base);
    width: 20rem;
}