.pills  ul{
    display: flex;
    flex-direction: row;
}

.pills ul li{
    color: var(--branco-base);
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    
}

.pills ul li:first-child{
    margin-left: 0;
}